body {
    margin: 0;
    background-color: #e8f0ed;
}

.topic {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw ;
    text-decoration: none;
    margin-left: 30vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a6933;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }


.loginTab{
    width: 50vw;
    height: 40vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 30px;
    overflow: hidden;
    display: flex ;
    flex-direction: row;  
}

.loginLeft{
    margin-top: 1vw;
    background-color: #3a6933;
    width: 20vw;
    height: 37vw;
    border-radius: 30px 0px 0px 30px;
    /* border-radius: 100px 0 0 100px;  */
}

.loginRight{
    margin-top: 1vw;
    background-color: white;
    width: 30vw;
    height: 37vw;
    display: flex ;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0 20px 20px 0px;
    
    
}

.welcomeText{
    margin-top: 2.5vw;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

form{
    display: flex; 
    flex-direction: column;
}

.forgetPassword{
    margin-left: 19vw;
    margin-top: 0.5vw;
    color: blue;
    font-size: 0.75rem;
    text-decoration: underline;
}

input[type=text], input[type=password]{
width: 50%;
font-size: 20px;
padding: 10px;
margin: auto;
display: inline-block;
margin-top: 10px;
border: none;
background: rgb(224, 223, 223);
border: 0.5px solid black;
}

label{
    margin-left: 3vw;
    font-size: 1.2rem;
}

.buttonSubmit{
    outline: none;
    width: 25%;
    height: 50%;
    border-radius: 15px;
    margin-left:3vw;
    margin-top: 2vw;
    background-color: #FFA500;
    font-size: 1rem;
    font-weight: bold;  
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

.signIn{
    font-size: 20px;
    font-weight: bold;
}

.anotherLogin{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.hospital {
    width: 15vw;
    height: 15vw;
    margin-top: 50%;
    margin-left: 10%;
}

.typeLogin{
    display: flex;
    flex-direction: row;
}

.or{
    color: gray;
    margin-top: 2vw;
    margin-left: 1vw;
}

.accountLogin{
    width: 2vw;
    height: 2vw;
    margin-top: 2vw;
    margin-left: 2vw;
}

.noAccount{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 2vw;
    margin-top: 2vw;
    margin-left: 8.5vw;
    
     text-decoration: underline;
    
}

.noAccount:hover {
    cursor: pointer;
}

.aforLogin{
    color: gray;
}

.facebook_Button{
    display: none;
}

.google_Button{
    display: none;
}

.aforLogin:hover{
    color: black;
}

.bg_model{
    width: 100vw;
    height: 55vw;
    background-color:rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
  }

.modal_centent{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    display: flex ;
    flex-direction: column;
    position: relative;
    
  }

  .tab_modal{
    background-color: #3a6933;
    width: 700px;
    height: 50px;
    border-radius: 20px 20px 0 0;
    color: white;
    
    
  }
  .closePopup{
    position: absolute;
    top: 10;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .box_from{
      
      margin-top: 100px;
      display: flex;
       flex-direction:column;
  }
  
  .element_form{
      color: black;
      padding: 20px;
      display: flex;
      flex-direction:column;
      
  }

  .Nopassword_button_submit{
      width: 300px;
      height: 40px;
      margin-top: 50px;
      border-radius: 30px;
      margin-left: 200px;
      background-color: #FFA500;
      cursor: pointer;
      outline: none;
      font-size: 1.5rem;
  }

@media screen and (max-width:768px){
   .loginTab{
       height: 100vw;
       background-color:white;
       border-radius: 0%;
   }

   .loginLeft{
       display: none;
   }

   .loginRight{
    width: 100%;
    height: 80%;
    border-radius: 0%;

   }

   #email, #password{
       font-size: 1rem;
       width: 50%;
       
   }

   #lname, #fname{
       margin-left: 15%;
       font-size: 1rem;
   }

   .forgetPassword{
       margin-left: 67%;
   }
   
   .typeLogin{
       display: flex;
       flex-direction:column;
       
   }

   .buttonSubmit{
       width: 70%;
       height: 50px;
       margin-left: 15%;
       font-size: 2rem;
   }
   .or{
    margin-left: 47%;
    
   }
   .noAccount{
    width: 70%;
    margin-left: 28%;
    font-size: 1rem;
   }

   .accountLogin{
       display: none
   }

   .bg_model{
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
  }

  @media only screen and (max-width: 600px){
    .navbar{
        width: 100%;
    }

    
    .loginTab{
        width: 80%;
        height: 130vw;
        
    }
 
     .loginLeft{
        display: none;
    } 
 
    .loginRight{
     width: 100%;
     height: 95%;
     
     border-radius: 0%;
     
 
    }
 
    #email, #password{
        font-size: 0.8rem;
        width: 50%;
        
    }
 
    #lname, #fname{
        margin-left: 15%;
        font-size: 0.8rem;
    }
 
    .forgetPassword{
        margin-left: 65%;
    }
    
    .typeLogin{
       
        display: flex;
        flex-direction:column;
        
    }
 
    .buttonSubmit{
        width: 70%;
        height: 30px;
        margin-left: 15%;
        font-size: 1rem;
        
    }
    .or{
     margin-left: 45%;
     
    }
    .noAccount{
     width: 70%;
     margin-left: 20%;
     font-size: 1rem;
    }
 
    .accountLogin{
        display: none
    }
    .facebook_Button{
     width: 70%;
     height: 30px;
     display: block;
     margin-left: 15%;
     margin-top: 5%;
     border-radius: 20px;
     background-color: #3b5998;
     color: white;
    }
    .google_Button{
     width: 70%;
     height: 30px;
     margin-left: 15%;
     display: block;
     margin-top: 2.5%;
     border-radius: 20px;
     background-color: rgb(233, 232, 232);
    }
 
    .bg_model{
     width: 100%;
     height: 110%;
     background-color:rgb(0, 0, 0, 0.7);
     position: absolute;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
    
   } 

   .modal_centent{
       width: 90%;
   }

   .tab_modal{
        width: 100%;

   }
   
   .Nopassword_button_submit{
    margin-left: 25%;
    font-size: 1rem;
    height: 30px;
    width: 50%;
   }

   

   #phone_input, #ssn_input{
    font-size: 0.6rem;
   }

   #phone_label, #ssn_label{
    font-size: 0.7rem;
    font-weight: bold;
   }

   
  }
}
