
body{
    margin: 0;
    background-color: #e8f0ed;
}

.topic {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw ;
    text-decoration: none;
    margin-left: 30vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a6933;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }


.loginTab{
    
    width: 50vw;
    height: 100%;
    margin: auto;
    margin-top: 5vw;
   
    overflow: hidden;
    display: flex ;
    flex-direction: row;
    
    
    
    
}

.loginLeft{
    margin-top: 1vw;
    background-color: #3a6933;
    width: 20vw;
    height: 40.15vw;
    border-radius: 30px 0px 0px 30px;
    
    
   
    
    
    
    /* border-radius: 100px 0 0 100px;  */
}

.loginRight{
    margin-top: 1vw;
    background-color: white;
    width: 30vw;
    height: 40vw;
    display: flex ;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0 20px 20px 0px;
    
    
}


.welcomeText{
    margin-top: 2.5vw;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

form{
    display: flex; 
    flex-direction: column;
}

.forgetPassword{
    margin-left: 19vw;
    margin-top: 0.5vw;
    color: blue;
    font-size: 0.75rem;
    text-decoration: underline;
}

input[type=text], input[type=password]{
width: 50%;
font-size: 20px;

padding: 10px;
margin: auto;
display: inline-block;
margin-top: 10px;
border: none;
background: rgb(224, 223, 223);
border: 0.5px solid black;
  
 
}
label{
    margin-left: 3vw;
    font-size: 1.2rem;
}

.buttonSubmit{
    outline: none;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    margin-left:25%;
    margin-top: 2vw;
    background-color: #FFA500;
    font-size: 1rem;
    font-weight: bold;
    
    
}

button:hover {
    opacity: 0.8;
    
  }

.signIn{
    font-size: 20px;
    font-weight: bold;
}

.anotherLogin{
    display: flex;
    flex-direction: row;
    margin-left: 200px;


}

.facebook{
    width: 8%;
    height: 8%;
    margin: 20px;
    margin-top: 50px;
    
    
}


.hospital{
    width: 15vw;
    height: 15vw;
    margin-top: 50%;
    margin-left: 10%;
}

.choosePlaceTag{
    background-color: white;
    width: 50vw;
    height: 80vw;
    margin: auto;
    margin-top: 10vw;
    border-radius: 2vw;
    overflow: hidden;
    display: flex ;
    flex-direction: column;
    border: 1px solid black;
    -webkit-box-shadow: 9px 7px 6px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 9px 7px 6px 0px rgba(0,0,0,0.42);
    box-shadow: 9px 7px 6px 0px rgba(0,0,0,0.42);
}
.greenHead{
    background-color: #3a6933;
    height: 5vw;
    width: 50vw;
    
    
}

.textBook{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1vw;
    font-weight: bold;
    color: honeydew;
}

.flexDirectRow{
    display: flex ;
    flex-direction: row;
}

.flexDirectColumn{
    display: flex ;
    flex-direction: column;
}

.seperateHead{
    margin-top: 4vw;
    font-size: 2rem;
    margin-left: 5vw;
}

.seperateInputandSelect{
    margin-top: 4vw;
    margin-left: 6vw;
}



.inputPosition{
    margin-top: 1vw;
    margin-left: 6vw;
    display: flex;
    flex-direction: row;
   
    
    
}
.inputPosition2{
    margin-top: 1vw;
    margin-left: 6vw;
   
    
}

.seperateInputandSelectReport{
    margin-top: 4vw;
    margin-right: 4vw;
}

.inputPositionReport{
    margin-top: 1vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: row;
}
.inputPositionReport2{
    margin-top: 1vw;
    margin-right: 4vw;
}

#places{
    padding: 0.25vw;
    width: 21vw;
    margin-top: 0vw;
    margin-left: 0vw;
    font-size: 1rem;
    
    outline: none;
}
#namePatient{
    padding: 0.5vw ;
    margin-top: 0vw;
    margin-left: 0vw;
    width: 9vw;;
    background-color:white;
    border: 1px solid black;
    outline: none;
}

#ssd{
    padding: 0.5vw ;
    width: 20vw;
    margin-top: 0vw;
    margin-left: 0vw;
    background-color:white;
    border: 1px solid black;
    outline: none;
}

.picRepoert{
    width: 15vw;
    height: 15vw;
    margin-top: 2vw;
    margin-left: 3vw;
    
}

.labelChoosePlace{
    font-size: 1rem;
    margin-left: 0vw;
  
    
    
}

.acceptBut{
    border-radius: 2vw;
    outline: none;
    background-color: #FFA500;
    width: 6vw;
    height: 2.5vw;
    margin-left: 13vw;
    font-size: 1.25rem;
}

.cancelBut{
    border-radius: 2vw;
    outline: none;
    background-color: rgb(204, 201, 201);
    width: 6vw;
    height: 2.5vw;
    margin-top: 2%;
    margin-left: 10vw;
    font-size: 1.25rem;
    
}

.formSymtons{
    height: 20vw;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    
    background-color:white;
    border: 1px solid black;
}

.textSymtons{
    height: 20vw;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    box-sizing: border-box;
    font-size: 2rem;
    background-color:white;
    border: 1px solid black;
    padding: 0vw;
    resize: none;
}

.another_Symtons{
    margin-left: 5vw;
    margin-top: 50px;
}

.listSymton{
    
   text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.box_Symton{
    flex-direction: row;
    padding: 50px;
    display: flex;
}


.checkbox_symton2{
    margin-left: 150px;
}
.space{
    width: 10%;
}

.space_below{
    height: 20px;
}

select {
    text-align: center;
    text-align-last: center;
  }
  option {
    text-align: left;
   
}

.reportTag{
    background-color: white;
    width: 50vw;
    height: 30vw;
    margin: auto;
    margin-top: 10vw;
    border-radius: 2vw;
    overflow: hidden;
    display: flex ;
    flex-direction: column;
    -webkit-box-shadow: 9px 7px 6px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 9px 7px 6px 0px rgba(0,0,0,0.42);
    box-shadow: 9px 7px 6px 0px rgba(0,0,0,0.42);
}

.greenReportTag{
    background-color: #3a6933;
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    

    
}

.reportImg{
    margin-top: 15%;
    margin-left: 10%;
    width: 70%;
    height: 60%;
}

.acceptButReport{
    border-radius: 2vw;
    outline: none;
    background-color: #FFA500;
    width: 6vw;
    height: 2.5vw;
    margin-left: 13vw;
    font-size: 1.25rem;
}

.cancelButReport{
    border-radius: 2vw;
    outline: none;
    background-color: rgb(204, 201, 201);
    width: 6vw;
    height: 2.5vw;
    margin-bottom: 3%;
    margin-left: 10vw;
    font-size: 1.25rem;
    
}

.typeLogin{
    display: flex;
    flex-direction: row;
}

.or{
    color: gray;
    margin-top: 2vw;
    margin-left: 1vw;
}

.accountLogin{
    width: 2vw;
    height: 2vw;
    margin-top: 2vw;
    margin-left: 2vw;
}

.noAccount{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 2vw;
    margin-top: 2vw;
    margin-left: 8.5vw;
    
     text-decoration: underline;
    
}

.aforLogin{
    color: gray;
}

.facebook_Button{
    display: none;
}

.google_Button{
    display: none;
}

.aforLogin:hover{
    color: black;
}

.bg_model{
    width: 100vw;
    height: 100vw;
    background-color:rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
  }

.modal_centent{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex ;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    
  }

  .tab_modal{
    background-color: #3a6933;
    width: 700px;
    height: 50px;
    border-radius: 20px 20px 0 0;
    color: white;
    
    
  }
  .closePopup{
    position: absolute;
    top: 10;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .box_from{
      
      margin-top: 100px;
      display: flex;
       flex-direction:column;
  }
  
  .element_form{
      color: black;
      padding: 20px;
      display: flex;
      flex-direction:column;
      
  }

  .Nopassword_button_submit{
      width: 300px;
      height: 40px;
      margin-top: 50px;
      border-radius: 30px;
      margin-left: 200px;
      background-color: #FFA500;
      cursor: pointer;
      outline: none;
      font-size: 1.5rem;
  }

  







   

