
@media only screen and (max-width: 600px){ 

    body{
        width: 100%;
        height: 100%;
    }
    .loginTab{
        height: 100%;
        width: 90%;
        border-radius: 0%;
       
        
        
    }
    

    .loginLeft{
        display: none;
    }

    .loginRight{
        width: 100%;
        height: 90%;
        border-radius: 0%;
    
       }

    #email, #password{
        font-size: 0.8rem;
        width: 50%;
        
    }
    #lname, #fname{
        margin-left: 15%;
        font-size: 0.8rem;
    }

    .forgetPassword{
        margin-left: 67%;
    }

    .buttonSubmit{
        width: 70%;
        height: 50px;
        margin-left: 15%;
        font-size: 2rem;
    }

    .topic {
        display: none;
    }

    .Nopassword_button_submit{
        margin-left: 25%;
        font-size: 1rem;
        height: 30px;
        width: 50%;
       }
       .noAccount{
        width: 100%;
        margin-left: 30%;
        font-size: 1rem;
       }

       .modal_centent{
        width: 80%;
    }
    
    .tab_modal{
        width: 80.5vw;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
        margin-left: -1px;
    
    }

    .bg_model{
        width: 100%;
        height: 100%;
    }

    #ssn_input, #phone_input{
        font-size: 0.7rem;
    }
    
}

@media  only screen and (min-width: 600px)  and (max-width:768px){
    body{
        width: 100%;
        height: 100%;
    }
    .loginTab{
        height: 100%;
        width: 80%;
        border-radius: 0%;
        
    }

    .loginLeft{
        display: none;
    }

    .loginRight{
        width: 100%;
        height: 100%;
        border-radius: 0%;
    
       }

       #email, #password{
        font-size: 0.8rem;
        width: 50%;
        
    }

    #lname, #fname{
        margin-left: 15%;
        font-size: 1rem;
    }

    .forgetPassword{
        margin-left: 67%;
    }

    .buttonSubmit{
        width: 70%;
        height: 50px;
        margin-left: 15%;
        font-size: 2rem;
    }

    .navbar{
        overflow: hidden;
        height: 9vw;
        background-color: #3a6933;
    }
    
    
    
    .topic {
        font-size: 20px;
        display: block;
        color: white;
        padding: 2vw ;
        
        text-decoration: none;
        margin-left: 6vw;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        background-color: #3a6933;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 30px;
        text-decoration: none;
      }

      
       .noAccount{
        width: 70%;
        margin-left: 30%;
        font-size: 1rem;
       }
    
       .accountLogin{
           display: none
       }

       .modal_centent{
        width: 80%;
    }
    
    .tab_modal{
        width: 80vw;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
        margin-left: -0px;
    
    }

    .bg_model{
        width: 100%;
        height: 100%;
    }

    #ssn_input, #phone_input{
        font-size: 0.7rem;
    }

    .Nopassword_button_submit{
        margin-left: 25%;
        font-size: 1rem;
        height: 30px;
        width: 50%;
       }
}

@media only screen and (min-width: 768px)  and (max-width:1024px){
    
    .loginTab{
        height: 100%;
        width: 100%;
        border-radius: 0%;
        
        
    }

    .loginLeft{
        display: none;
    }

    .loginRight{
        width: 10%;
        height: 100%;
        border-radius: 0%;
        
    
       }

       #email, #password{
        font-size: 0.8rem;
        width: 50%;
        
    }

    #lname, #fname{
        margin-left: 15%;
        font-size: 1rem;
    }

    .forgetPassword{
        margin-left: 67%;
    }

    .buttonSubmit{
        width: 70%;
        height: 50px;
        margin-left: 15%;
        font-size: 2rem;
    }

    .navbar{
        overflow: hidden;
        height: 9vw;
        background-color: #3a6933;
    }
    
    
    
    .topic {
        font-size: 20px;
        display: block;
        color: white;
        padding: 2vw ;
        
        text-decoration: none;
        margin-left: 6vw;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        background-color: #3a6933;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 30px;
        text-decoration: none;
      }

      
       .noAccount{
        width: 70%;
        margin-left: 28%;
        font-size: 1rem;
       }
    
       .accountLogin{
           display: none
       }

       .modal_centent{
        width: 80%;
    }
    
    .tab_modal{
        width: 80vw;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
        margin-left: -0px;
    
    }

    .bg_model{
        width: 100%;
       
        height: 100%;
    }

    #ssn_input, #phone_input{
        font-size: 0.7rem;
    }

    .Nopassword_button_submit{
        margin-left: 25%;
        font-size: 1rem;
        height: 30px;
        width: 50%;
       }
}

@media only screen and (min-width: 768px)  and (max-width:1100px){
    .loginTab{
        height: 100%;
        width: 50%;
        border-radius: 0%;
        
      
        
    }

    .loginLeft{
        width: 100%;
        height: auto;
    }
    .hospital{
        display: none
        ;
    
    }
    .loginRight{
        width: 100%;
        height: 100%;
        
    
       }

       .topic {
        font-size: 20px;
        display: block;
        color: white;
        padding: 1.4vw ;
        
        text-decoration: none;
        margin-left: 20vw;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        background-color: #3a6933;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 30px;
        text-decoration: none;
      }
      .noAccount{
        width: 70%;
        margin-left: 28%;
        font-size: 1rem;
       }
    
       .accountLogin{
           display: none
       }

       .modal_centent{
        width: 80%;
    }
    
    .tab_modal{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
        
    
    }

    .bg_model{
        width: 100%;
        height: 100%;
    }

    #ssn_input, #phone_input{
        font-size: 0.7rem;
    }

    .Nopassword_button_submit{
        margin-left: 25%;
        font-size: 1rem;
        height: 30px;
        width: 50%;
       }
}
@media only screen and (orientation: landscape ) and (min-width:1100px){
    .loginTab{
        height: 100%;
        width: 50%;
        border-radius: 0%;
      
        
    }

    .loginLeft{
        width: 100%;
        height: auto;
    }
    .hospital{
        width: 15vw;
    height: 15vw;
    
    }
    .loginRight{
        width: 100%;
        height: 100%;
    }
        
    .noAccount{
            width: 70%;
            margin-left: 35%;
            font-size: 1rem;
     }
        
    
    
     .topic {
        font-size: 20px;
        display: block;
        color: white;
        padding: 1.4vw ;
        
        text-decoration: none;
        margin-left: 20vw;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        background-color: #3a6933;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 30px;
        text-decoration: none;
      }
      .noAccount{
        width: 70%;
        margin-left: 28%;
        font-size: 1rem;
       }
    
       .accountLogin{
           display: none
       }

       .modal_centent{
        width: 60%;
        height: 60%;
    }
    
    .tab_modal{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
        
    
    }

    .bg_model{
        width: 100%;
        height: 100%;
    }

    #ssn_input, #phone_input{
        font-size: 0.7rem;
    }

    .Nopassword_button_submit{
        margin-left: 25%;
        font-size: 1rem;
        height: 30px;
        width: 50%;
       }
}
       
    